/* Style reset */

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* End style reset */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.section {
  padding: 100px 0;
  margin: 0 auto;
}

.container {
  max-width: 288px;
  padding: 0 16px;
  margin: 0 auto;
}

.item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  padding: 16px 0;
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.nav-container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  text-decoration: none;
}

.logo-span {
  color: #2e2f42;
  text-decoration: none;
}

.menu {
  display: none;
}

.address {
  display: none;
}

.address-list {
  display: flex;
  gap: 40px;
}

.section-one {
  background-color: #2e2f42;
  padding: 72px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-one-container {
  max-width: 216px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-title {
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  display: block;
  margin: 0 0 72px 0;
}

.order-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  display: block;
  cursor: pointer;
  margin: 0 auto;
}

.order-button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.strengths {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.strength-title {
  margin-bottom: 8px;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}

.strengths-container {
  display: none;
}

.section-three {
  background-color: #f4f4fd;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team {
  gap: 72px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.team-item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-container {
  padding: 32px 0;
  background-color: #ffffff;
}

.team-item,
.team-container {
  width: 264px;
  box-sizing: border-box;
}

.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.team-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-media-icon {
  width: 40px;
  height: 40px;
}

.social-media-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover,
.social-media-link:focus {
  background-color: #404bbf;
}

.icon-svg {
  fill: #f4f4fd;
}

.apps {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.overlay-container {
  position: relative;
  overflow: hidden;
}

.overlay-container .overlay-paragraph {
  height: 100%;
  width: 100%;
  top: 0;
  margin: 0;
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  position: absolute;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  box-sizing: border-box;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-container:hover .overlay-paragraph {
  transform: translate(0%);
}

.app-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.app-title {
  margin-bottom: 8px;
}

.app-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.app-item,
.app-container {
  width: 288px;
  box-sizing: border-box;
}

.app-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
  margin: 0 auto;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.footer-logo {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-span {
  color: #f4f4fd;
}

.footer-paragraph {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.social-media-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0 0 16px 0;
  text-align: center;
}

.footer-social-media {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer-social-media-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.footer-social-media-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-media-link:hover,
.footer-social-media-link:focus {
  background-color: #31d0aa;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-paragraph {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.form-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.form-input::placeholder {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.open-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.open-button .form-button-svg {
  margin-left: 16px;
}

.modal-container {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  opacity: 0;
}

.modal-container.is-open {
  visibility: visible;
  opacity: 1;
}

.modal-window {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  width: 288px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 24px 16px;
  box-sizing: border-box;
  margin: 0 auto;
}

.close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  background-color: #404bbf;
  border: 1px solid #404bbf;
}

.modal-icon-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus .modal-icon-svg {
  fill: #ffffff;
}

.modal-form-text {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
  margin-bottom: 8px;
}

.modal-form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.input-container {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
}

.input-icon-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment {
  margin-bottom: 16px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
}

.modal-checkbox {
  margin-bottom: 24px;
  gap: 8px;
}

.visually-hidden {
  position: relative;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.checkbox-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.privacy-policy {
  color: #4d5ae5;
}

.modal-checkbox-input:checked + .modal-checkbox-label .checkbox-span {
  background-color: #404bbf;
  border: 1px solid #404bbf;
  fill: #f4f4fd;
}

.modal-submit-button {
  display: block;
  margin: auto;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px 0px #00000026;
}

.menu-button {
  display: flex;
  position: relative;
  align-items: center;
  max-height: 24px;
  max-width: 24px;
  padding: 0;
  border: none;
  background-color: #ffffff;
}

.modal-menu {
  display: flex;
  gap: 40px;
  flex-direction: column;
  margin-top: 56px;
}

.modal-menu-window {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 50%;
  height: 100vh;
  width: 100%;
  transform: translateX(-50%);
  background: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 16px;
  visibility: hidden;
  box-sizing: border-box;
}

.modal-menu-window.is-open {
  visibility: visible;
}

.menu-close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fcfcfc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-button:hover,
.menu-close-button:focus {
  background-color: #404bbf;
  border: 1px solid #404bbf;
}

.menu-close-button:hover,
.menu-close-button:focus .modal-icon-svg {
  fill: #ffffff;
}

.modal-menu-link {
  display: flex;
  position: relative;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2e2f42;
}

.modal-menu-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-menu-link:hover,
.modal-menu-link:focus {
  color: #404bbf;
}

.modal-address,
.modal-social-media {
  margin-top: auto;
}

.modal-address {
  font-style: normal;
  margin-bottom: 40px;
}

.modal-adress-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal-adress-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.modal-adress-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-adress-link:hover,
.modal-adress-link:focus {
  color: #404bbf;
}

.modal-social-media {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 24px;
}

.modal-social-media-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.modal-social-media-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-social-media-link:hover,
.modal-social-media-link:focus {
  background-color: #404bbf;
}

/* Desktop version */

@media (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
  .container {
    max-width: 1128px;
  }

  .menu-button {
    display: none;
  }
  .modal-menu-window {
    display: none;
  }

  .header {
    padding: 0;
  }

  .header-container {
    display: flex;
    gap: 320px;
  }

  .nav-container {
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
    gap: 40px;
  }

  .logo {
    margin-right: 76px;
  }

  .menu-link {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    position: relative;
    color: #2e2f42;
    padding: 24px 0;
  }

  .menu-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link:hover,
  .menu-link:focus {
    color: #404bbf;
  }

  .menu-link:hover::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    height: 4px;
  }

  .address {
    font-style: normal;
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
  }

  .address-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }

  .section-one {
    padding: 188px 0;
  }

  .section-one-container {
    max-width: 496px;
    align-items: center;
    justify-content: center;
  }

  .first-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
  }

  .strengths {
    gap: 24px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .strength-title {
    margin-bottom: 8px;
    text-align: left;
    font-size: 20px;
    line-height: 24px;
  }

  .strengths-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }

  .team {
    flex-direction: row;
    gap: 24px;
  }

  .team-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
  }

  .apps {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .app-item,
  .app-container {
    width: 360px;
    box-sizing: border-box;
  }

  .footer {
    padding: 100px 0;
  }

  .footer-container {
    align-items: baseline;
    justify-content: center;
    flex-direction: row;
    gap: 0;
  }

  .footer-logo {
    margin-right: 120px;
  }

  .footer-paragraph {
    max-width: 264px;
  }

  .social-media-title {
    text-align: left;
  }

  .form-container {
    margin-left: auto;
  }

  .form-paragraph {
    text-align: left;
  }

  .form {
    flex-direction: row;
  }

  .form-input {
    width: 248px;
  }

  .modal-window {
    top: 80px;
    width: 408px;
    padding: 72px 24px 24px 24px;
  }

  .modal-input:focus {
    border-color: #4d5ae5;
  }

  .modal-input:focus + .input-icon-svg {
    fill: #4d5ae5;
  }

  .modal-textarea:focus {
    border-color: #4d5ae5;
  }
}

/* Tablet Version */

@media (min-width: 768px) and (max-width: 1157px) {
  .section {
    padding: 120px 0;
  }

  .container {
    max-width: 736px;
  }
  .menu-button {
    display: none;
  }

  .modal-menu-window {
    display: none;
  }

  .header {
    padding: 0;
  }

  .header-container {
    display: flex;
    justify-content: space-evenly;
  }

  .nav-container {
    display: flex;
    max-width: 1128px;
    width: 100%;
  }

  .menu {
    display: flex;
    gap: 40px;
    margin: 0 auto;
  }

  .menu-link {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    position: relative;
    color: #2e2f42;
    padding: 24px 0;
  }

  .menu-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link:hover,
  .menu-link:focus {
    color: #404bbf;
  }

  .menu-link:hover::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    height: 4px;
  }

  .address {
    display: flex;
    font-style: normal;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .address-link {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
  }

  .address-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }

  .section-one {
    padding: 188px 0;
  }

  .section-one-container {
    max-width: 496px;
    align-items: center;
    justify-content: center;
  }

  .first-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
  }

  .strengths {
    gap: 24px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .strength-title {
    text-align: left;
    font-size: 36px;
    line-height: 40px;
  }

  .strength-item {
    width: calc(50% - 16px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .strengths-container {
    display: none;
  }

  .team {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }

  .team-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
  }

  .apps {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .app-item,
  .app-container {
    width: 356px;
    box-sizing: border-box;
  }

  .footer {
    padding: 100px 0;
  }

  .footer-container {
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-logo {
    margin-right: 16px;
    align-items: flex-start;
  }

  .footer-paragraph {
    max-width: 264px;
  }

  .social-media-title {
    text-align: left;
  }

  .form-container {
    margin: 0;
    align-items: center;
  }

  .form-paragraph {
    text-align: left;
  }

  .form {
    flex-direction: row;
    align-items: flex-start;
  }

  .footer-container > :last-child {
    display: flex;
    align-items: flex-start;
  }

  .modal-window {
    top: 96px;
    width: 408px;
    padding: 72px 24px 24px 24px;
  }

  .modal-input:focus {
    border-color: #4d5ae5;
  }

  .modal-input:focus + .input-icon-svg {
    fill: #4d5ae5;
  }

  .modal-textarea:focus {
    border-color: #4d5ae5;
  }
}
